body {
	background: black;
	color: white;

}

.Vehicle_Information {
	  margin-left: 27%;
		margin-top:50px;
}

.Vehicle_Information h3 {
	 margin-bottom:10px;
	 margin-top:10px;
}

.navbar-header #logo {
	width:150px;
}

.Assigned_Dealers .panel {
	color:black;

}

.navbar {
 min-height: 80px;
 background: radial-gradient(circle, rgba(2,0,36,1) 1%, rgba(75,161,176,1) 94%);
}

.navbar-nav {
	margin-left: auto;
  margin-right: auto;
	width:100%;
}

.title-nav {
	width:100%;
	margin-right: 80px;
}

.loanbutton {
margin-bottom: 5px;

}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
