body {
background: radial-gradient(circle, rgba(2,0,36,1) 1%, rgba(75,161,176,1) 94%);
}

.loginForm {
			margin-top: 7%;
	    margin-left: 35%;
	    margin-right: 35%;
	    padding-top: 3%;
	    text-align: center;
	    padding-bottom: 4%;
	    background-color: #112431;
	    border-radius: 5%;
}

.loginForm #logo {
	width:287px;
	padding-bottom: 10px;
}

.loginForm #username {
	margin-bottom : 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align:left;
}

.loginForm #password {
	padding-left: 10px;
	padding-right: 10px;
	text-align:left;
	margin-bottom : 10px;
}



.loginForm .submitButton {
	margin-top: 10px;
}

.loginForm #submit {
	padding-left : 20px;
	padding-right :20px;
	padding-top : 2px;
	padding-bottom : 2px;
}

.textboxContainer{

}
.textboxContainer .label{
	color:white;
	padding-right: 130px;
}
