body {
	background-color : black;
}

.loginForm {
margin-top : 5%;
margin-left: 40%;
}

.loginForm #logo {
	width:287px;
	padding-bottom: 10px;
}

.loginForm #username {
	margin-bottom : 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align:left;
}

.loginForm #password {
	padding-left: 10px;
	padding-right: 10px;
	text-align:left;
	margin-bottom : 10px;
}



.loginForm .submitButton {
	margin-top: 10px;
}

.loginForm #submit {
	padding-left : 20px;
	padding-right :20px;
	padding-top : 2px;
	padding-bottom : 2px;
}

.textboxContainer{
	text-align:right;
	width: fit-content;
	margin-left: 44px;
}
.textboxContainer .label{
	text-align:left;
	color:white;
	width: fit-content;
}
