body { 
	background: black;
	color: white;

}

.navbar { 
	color:black;
	background:white;
}
.navbar #userLabel { 
    text-align: center;
}

.navbar #logoutLabel { 
    text-align: right;
	margin-right: 5px;
}


.Assigned_Dealers .panel {
	color:black;

}