body {
	background: black;
	color: white;

}

.navbar-header #logo {
	width:150px;
}

.Assigned_Dealers .panel {
	color:black;

}

.navbar {
 min-height: 80px;
}

.loanbutton { 
margin-bottom: 5px;

}
